/* COLORS */
$purple: #766cff;
$purple-opacity: #766cffb3;
$blue: #3688f4;
$blue2: #5194DC;
$lightblue: rgb(195, 238, 255);
$lightblue2: #7bdaff;
$lightblue3: #66caf1;
$lightblue4: #80dbff;
$lightblack: rgb(37, 37, 37);
$lightblack2: #383838;
$gray: #777;
$lightgray: #eee;
$white: #ffffff;

/* FONTS */
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Raleway', sans-serif;

/* FONT SIZE */
$biggest-font-size: 5em;
$h1-font-size: 3em;
$h2-font-size: 2em;
$h3-font-size: 1.7em;
$normal-font-size: 1.4em;
$small-font-size: 1.1em;
$smaller-font-size: .875em;

/* FONT WEIGHT */
$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-black: 800;

/* MARGIN */
$mb-1: 2.5em;
$mb-2: 2em;
$mb-3: 1.25em;
$mb-4: 1.7em;
$mb-5: 1em;
$mb-6: .625rem;

/* PADDING */
$p-1: 6.25em;
$p-2: 1.5em;
$p-3: .75em;
$p-4: .625em;

/* WIDTH */
$w-1: 6.25em;
$w-2: 12.5em;
$p-3: 80%;
$p-4: 100%;

/* LETTER SPACING */
$ls-1: .0625em;
$ls-2: .1875em;
$ls-3: .25em;
$ls-4: .3125em;
$ls-5: .375em;